<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="OM\Nospam\Api\Data\LogInterface" type="OM\Nospam\Model\Log"/>
    <preference for="OM\Nospam\Api\Data\DomainInterface" type="OM\Nospam\Model\Domain"/>
    <preference for="OM\Nospam\Api\LogRepositoryInterface" type="OM\Nospam\Model\LogRepository"/>
    <preference for="OM\Nospam\Api\DomainRepositoryInterface" type="OM\Nospam\Model\DomainRepository"/>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="om_nospam_log_cleanup_command" xsi:type="object">OM\Nospam\Console\CleanupCommand</item>
            </argument>
        </arguments>
    </type>

    <!-- Log -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="om_nospam_log_data_source" xsi:type="string">OMNospamLogCollection</item>
            </argument>
        </arguments>
    </type>

    <!-- Blacklisted Domains -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="om_nospam_domain_data_source" xsi:type="string">OMNospamDomainCollection</item>
            </argument>
        </arguments>
    </type>
</config>