<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- Check form fields from guest checkout. -->
    <event name="checkout_submit_before">
        <observer name="om_nospam_checkout_submit_before" instance="OM\Nospam\Observer\CheckoutSubmitBefore" />
    </event>
</config>