<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- Customer Account Create Post -->
    <event name="controller_action_predispatch_customer_account_createpost">
        <observer name="om_nospam_controller_action_predispatch_customer_account_createpost" instance="OM\Nospam\Observer\ControllerActionPredispatch" />
    </event>

    <!-- Forgot Password Post -->
    <event name="controller_action_predispatch_customer_account_forgotpasswordpost">
        <observer name="om_nospam_controller_action_predispatch_customer_account_forgotpasswordpost" instance="OM\Nospam\Observer\ControllerActionPredispatch" />
    </event>

    <!-- Newsletter Signup Post -->
    <event name="controller_action_predispatch_newsletter_subscriber_new">
        <observer name="om_nospam_controller_action_predispatch_newsletter_subscriber_new" instance="OM\Nospam\Observer\ControllerActionPredispatch" />
    </event>

    <!-- Customer Account Login Post -->
    <event name="controller_action_predispatch_customer_account_loginPost">
        <observer name="om_nospam_controller_action_predispatch_account_login_post" instance="OM\Nospam\Observer\ControllerActionPredispatch" />
    </event>

    <!-- Search Post -->
    <event name="controller_action_predispatch_catalogsearch_result_index">
        <observer name="om_nospam_controller_action_predispatch_catalogsearch_result_index" instance="OM\Nospam\Observer\ControllerActionPredispatch" />
    </event>

    <!-- Contact Post -->
    <event name="controller_action_predispatch_contact_index_post">
        <observer name="om_nospam_controller_action_predispatch_contact_index_post" instance="OM\Nospam\Observer\ControllerActionPredispatch" />
    </event>

    <event name="search_query_load_after">
        <observer name="om_nospam_search_query_model_load_after" instance="OM\Nospam\Observer\SearchQueryLoadAfter" />
    </event>

    <event name="checkout_submit_before">
        <observer name="om_nospam_checkout_submit_before_frontend" instance="OM\Nospam\Observer\CheckoutSubmitBefore" />
    </event>
</config>